@import "tailwindcss";



.typewriter {
    overflow:hidden;
    border-right: 0.15em solid #885CF6;
    white-space: nowrap;
    animation: typing 3s steps(20,end) forwards,blink-caret 0.75s step-end 4;
}

@keyframes typing {
    from { width: 0;}
    to {width: 15ch;}
}
@keyframes blink-caret {
    from,to {border-color: transparent ;}
    50% { border-color: #885CF6 ;}
}



.custom-cursor {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 via-pink-400 to-purple-400;
  font-weight: 900;
  font-size: 1.1em;
  text-shadow: 0 0 20px rgba(168, 85, 247, 0.6);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}